body {
    padding: 0;
    margin: 0;
  }
  
#geomap,
  #dataGraph {
    width: 600x;
    height: 600px;
  }
  
/* .wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
} */
/* 
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background:plum;
  transition: all 0.3s;
  padding: 20px
}

#sidebar.active {
  margin-left: -250px;
} */



/* tooltip stuff */
.focus circle {
  fill: steelblue;
}

.focus text {
  font-size: 14px;
}

.tooltip {
  fill: white;
  stroke: #000;
}

.tooltip-date, .tooltip-likes {
  font-weight: bold;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: purple;
}

.focus text {
  font-size: 14px;
}

.tooltip {
  fill: white;
  stroke: #000;
}

.tooltip-date, .tooltip-likes {
  font-weight: bold;
}

/* scroll bar */
.scrollable{
  overflow: auto;
  width: 200px; /* adjust this width depending to amount of text to display */
  height: 400px; /* adjust height depending on number of options to display */
  border: 1px silver solid;
}
.scrollable select{
  border: none;
}
